footer{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.logo2{
    margin: 0px;
    padding: 0px;
}
footer.logo{
    display: flex;
    align-items: center;
}
.nav2 {
    width: 150px;
    height: auto; 
  }
  li {
    float: left;
    width: 65px;
  }
a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
    text-decoration: none;
}
.social{
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }