header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.logo{
    margin: 0px;
    padding: 0px;
    grid-column:  1 / 2;
    grid-row: 1 / 2;
}
.nav1 {
    grid-column:  12 / 13;
    grid-row: 1 / 2; 
}

